body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top {
  text-align: center;
  height: 50%;
  width: 100%;
}

h1 {
  margin-top: 7%;
  font-weight: 900;
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

p {
  font-size: 2em;
}

.split {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 50%;
  overflow-x: hidden;
}

.left {
  left: 0;
  background-color: #F5D853;
}

.right {
  right: 0;
  background-color: #6DB4F5;
}

.centered {
  text-align: center;
  padding-top: 7%;
}

button {
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0.5%;
  margin: 1%;
  cursor: pointer;
}

.button:hover {
  background-color: #F5AB84;
}

input {
  border: rgba(0, 0, 0, 0.1) 1px solid;
  padding: 0.5%;
}
