/* Works fine for mobile, adjust for larger screens */

@media (min-width: 768px) {
  h1 {
    margin-top: 15%;
  }
  div.search {
    padding-top: 5%;
  }
}

body {
  text-align: center;
  width: 95%;
}

* {
  font-family: 'Inconsolata', monospace;
}

h1 {
  margin-top: 15%;
  font-size: 3em;
  color: #2381A1;
  letter-spacing: 0.05em;
  font-family: 'Major Mono Display', monospace;
}

div.search {
  display: inline-grid;
  padding-top: 5%;
}

button {
  font-size: 17px;
  margin: 14%;
  padding: 4% 0;
  border: none;
  box-shadow: 3px 3px #2381A1;
  background: whitesmoke;
}

input {
  padding: 7% 4%;
  border: solid 1px lightgrey;
}

p {
  font-style: italic;
  font-weight: 500;
  letter-spacing: 0.05em;
}