body {
  font-family: "Open Sans", sans-serif;
  background-color: #ececec;
  padding: 60px 10%;
}

* {
  box-sizing: border-box;
  color: #6d3232;
}

body, h1, h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px 0px;
}

input {
  margin: 10px 0px;
  border: 0px;
  padding: 6px;
}

div.filtersBar {
  padding: 20px 0;
}